@model BenevoleModel

@{
    ViewData["Title"] = "Supprimer ";
}

<h1>Supprimer un Benevole</h1>

<div>
    <h4>Etes-vous sur de vouloir supprimer ce benevole ?</h4>
    <div>
        <strong>Nom :</strong> @Model.Nom
    </div>
    <div>
        <strong>Prenom :</strong> @Model.Prenom
    </div>
    <div>
        <strong>Telephone :</strong> @Model.Telephone
    </div>
    <div>
        <strong>Courriel :</strong> @Model.Courriel
    </div>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Supprimer</button>
    <a asp-action="Index" class="btn btn-secondary">Annuler</a>
</form>