@{
    ViewData["Title"] = "Accueil";
}

<h1>Bienvenue sur l'application de gestion des benevoles</h1>
<p>
    <a asp-controller="Benevole" asp-action="Index" class="btn btn-primary">Voir la liste des benevoles</a>
</p>
